# Wyrmlang (.wyr) Git Ignore Template

# Python cache
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
*.wyc
*.wyb
wyrm_build/
bin/
obj/

# Object files
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles/
CMakeDefs.txt
Makefile
Makefile.in
*.ninja
ipch/
.visualgdb/

# Distribution
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Lua compiled bytecode
*.luac

# Luarocks
/rocks/
*.rock
*.rockspec

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Visual Studio (MSVC)
.vs/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.db
*.opendb

# CLion / Rider / JetBrains
.idea/
cmake-build-debug/
cmake-build-release/

# Others
*.log
*.tmp
*.temp
.cache/
